.card-img-top {
    height: 155px;
    position: relative;
}

.card:hover {
    box-shadow: 0px 0px 10px 1px rgba(51, 51, 51, 0.493);
    transition: 5ms;
}

.boxTms {
    padding: 25px;
}

.card-settings {
    height: 500px;
    position: relative;
}
.go-to-org-css {
    position: absolute;
    width: 90%;
    left: 20px;
    bottom: 15px;
}
.mainTitle {
    margin-top: 50px;
    text-transform: capitalize;
    text-align: center;
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.timeLineHR {
    background-color: #C3073F;
    border: 1px solid #C3073F;
    width: 70%;
}

.experienceContainer {
    padding-top: 65px;
    padding-bottom: 55px;
}

.text {
    position: absolute;
    color: white;
    text-transform: capitalize;
    font-size: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.yearText {
    margin-bottom: 25px;
}

.card-text {
    text-align: center;
}

.smallImage {
    width: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
}